<div>
    <div class="modal-header">
        <h3 class="modal-title">Image selector</h3>
    </div>
    <div class="modal-body">
        <div class="pictures col-xs-10 col-md-12">
            <div class="picture" ng-repeat="picture in pictures">
                    <span><i class="fa fa-file-image-o">[[picture.name]]</i></span>
                    <img ng-src=[[path+'/pictures/'+picture.file_hashed_name]] class="img-responsive img-thumbnail" alt=[[picture.name]]>
                    <button type="button" class="btn btn-default col-xs-6" ng-click=copy([['pic'+picture.id+'Url']])>Copy url</button>
                    <button type="button" class="btn btn-success col-xs-6" ng-click=insert([['pic'+picture.id+'Url']])>Insert</button>
                    <div class="input-group">
                        <div class="input-group-addon">URL</div>
                        <input type="text" id=[['pic'+picture.id+'Url']] class="form-control" value=[[path+'/'+picture.file_hashed_name]] name="pic-url">
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button class="btn btn-warning col-xs-2 col-md-12" type="button" data-ng-click="$dismiss()">Cancel</button>
    </div>
</div>